<mat-card>
    <mat-card-title>
        Tipo Cliente</mat-card-title>
    <div class="divcontainer col-md-6">
        <div id="divtitle" class="titlelanding">
            <span>Escoge <b> el tipo de persona</b> que quieras tener con nosotros</span>
        </div>

        <hr class="line-hr">

        <div class="title top-space reduce-font-size">

            <div class="div-request-type col-xs-12 col-md-2"></div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="http://localhost:4200/login">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                </a>
                <p>Paciente</p>
            </div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="http://localhost:4200/login">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                </a>
                <p>Medico</p>
            </div>
        </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Volver</button> |

    <button type="submit" mat-raised-button color="primary">Siguiente</button>
</mat-card>