<mat-card>
    <mat-card-title>
        Tipo Cliente</mat-card-title>
    <div class="divcontainer col-md-6">
        <div id="divtitle" class="titlelanding">
            <span>Para <b>obtener tu clave</b>, elige tu relación con nosotros</span>
        </div>

        <hr class="line-hr">

        <div class="title top-space reduce-font-size">

            <div class="div-request-type col-xs-12 col-md-2"></div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="SignUpAdviser.aspx">
                    <div class="div-request-type-content">
                        <div class="div-request-type-link">
                            <img src="Media/imgs/asesor.png">
                        </div>
                    </div>
                </a>
                <p>Paciente</p>
            </div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="SignUpIndependent.aspx">
                    <div class="div-request-type-content">
                        <div class="div-request-type-link">
                            <img src="Media/imgs/independiente.png">
                        </div>
                    </div>
                </a>
                <p>Medico</p>
            </div>

        </div>
    </div>
</mat-card>