<mat-card>
    <mat-card-title>Menu Medico</mat-card-title>
    <div class="divcontainer col-md-6">

        <hr class="line-hr">

        <div class="title top-space reduce-font-size">

            <div class="div-request-type col-xs-12 col-md-2"></div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a routerLink="/horariomedico">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                </a>
                <p>Horarios</p>
            </div>
        </div>
    </div>
</mat-card>
