<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="numerodoc">
    <mat-header-cell *matHeaderCellDef> No.Documento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.numerodoc}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre Paciente </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefono">
    <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tipocita">
    <mat-header-cell *matHeaderCellDef> tipo de cita </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tipocita}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef> fecha de la cita </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
