#iniciar-sesion-cont {
  position: relative;
  width: auto;
  height: auto;
  display: block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-right: 25px;
  border: none;
  background-color: rgba(0,0,0,0);
}
