<mat-toolbar color="Black">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <h1 mat-dialog-title>DataPrism</h1>
    <mat-menu #menu="matMenu">
        <a routerLink="/consulta" routerLinkActive="active"><button mat-menu-item color="Black">Consulta</button></a>
        <a routerLink="/opcionservicio" routerLinkActive="active"><button mat-menu-item color="Black">Otros servicios</button></a>
        <a routerLink="/tipoafiliado" routerLinkActive="active"><button mat-menu-item color="Black">Afiliado</button></a>
        <a routerLink="/menumedico" routerLinkActive="active"><button mat-menu-item color="Black">Menu medico</button></a>
        <a routerLink="/horariomedico" routerLinkActive="active"><button mat-menu-item color="Black">Lista</button></a>
        <a routerLink="/menuadmin" routerLinkActive="active"><button mat-menu-item color="Black">Menu admin</button></a>
        <a routerLink="/listapaciente" routerLinkActive="active"><button mat-menu-item color="Black">Lista Paciente</button></a>
        <a routerLink="/listamedico" routerLinkActive="active"><button mat-menu-item color="Black">Lista Medico</button></a>

    </mat-menu>
</mat-toolbar>
