<mat-card>
    <mat-card-title>Inicie Sesion</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Numero de documento">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Constraseña">
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary">Aceptar</button> |

            <button type="submit" mat-raised-button color="primary">Cancelar</button>
        </form>
    </mat-card-content>
</mat-card>