<mat-card>
    <mat-card-title>Inicie Sesion</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onLogin()">
            <p>
                <mat-form-field>
                    <input type="text" [(ngModel)]="numeroDocumento" matInput placeholder="Numero de documento">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" [(ngModel)]="contrasena" matInput placeholder="Constraseña">
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary">Aceptar</button> |

            <button mat-raised-button color="primary">Cancelar</button>
        </form>
    </mat-card-content>
    <div class="registrese-ahora" data uia="registrese-ahora">
        ¿Aún no tienes una cuenta?
        <a class=" " target="_self" href="http://localhost:4200/singup">Registrate aquí</a>
    </div>
</mat-card>