<form (ngSubmit)="onGuardar()" #f="ngForm" class="form">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>&nbsp; Cita Medica
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <div class="row-12">
    <div class="col-4">
      <mat-card>
        <mat-form-field class="full-width myfield">
          <mat-label>Tipo cita</mat-label>
          <select matNativeControl id="tipo" [(ngModel)]="tipo" name="tipo">
            <option value="" selected></option>
            <option *ngFor="let item of tipocitas" [value]="item.descripcion">
              {{item.descripcion}}
            </option>
          </select>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-form-field style="width: 50%;">
          <input matInput type="datetime-local" id="fecha" name="fecha" [(ngModel)]="fecha" placeholder="Fecha y hora requerida para el servicio(*)">
        </mat-form-field>
      </mat-card>
    </div>
  </div>

  <mat-card>
    <mat-card-actions style="display: flex; justify-content: center;">
      <div>
        <button type="submit" mat-raised-button class="btn-submit" [disabled]="!f.valid" matTooltip="Guardar">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
        <button mat-raised-button class="btn-submit" matTooltip="Limpiar">
          <mat-icon>clear</mat-icon>
          Limpiar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
