<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>&nbsp; Consulta
        </mat-card-title>
    </mat-card-header>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripción/Sintomas paciente</mat-label>
            <textarea matInput placeholder="Escribir"></textarea>
        </mat-form-field>
    </p>
  <mat-card>
  <mat-card-header class="card-header">
    <mat-card-title>&nbsp; Receta
    </mat-card-title>
  </mat-card-header>
  <p>
    <mat-card>
      <input matInput placeholder="Dosis">
    </mat-card>
  </p>
  <p>
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>fecha de vencimiento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card>
  </p>
    <p>
    <mat-card>
      <input matInput placeholder="Entrega por mes">
    </mat-card>
    </p>
    <p>
      <mat-card>
        <input matInput placeholder="Medicamentos">
      </mat-card>
    </p>
    <p>
      <mat-card>
        <input matInput placeholder="Descripción del tratamiento(opcional)">
      </mat-card>
    </p>
  </mat-card>|

  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>&nbsp; Orden Medica
      </mat-card-title>
    </mat-card-header>
    <p>
      <mat-card>
        <input matInput placeholder="Descripción">
      </mat-card>
    </p>
    <p>
      <mat-card>
        <input matInput placeholder="Margen de tiempo">
      </mat-card>
    </p>
    <mat-card-actions style="display: flex; justify-content: center;">
        <div class="row">
            <div class="col">
                <button mat-raised-button class="btn-submit" matTooltip="Guardar" (click)="save($event)" routerLink="/listamedico">
            <mat-icon>save</mat-icon>Guardar
            </button>
                <button mat-raised-button class="btn-submit" matTooltip="Limpiar" (click)="clearForm() ">
          <mat-icon>clear</mat-icon>Limpiar
        </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
