<mat-card>
    <mat-card-title>
        Opciones de Servicio</mat-card-title>
    <div class="divcontainer col-md-6">
        <div id="divtitle" class="titlelanding">
            <span>Digano <b> en que le podemos colaborar</b></span>
        </div>

        <hr class="line-hr">

        <div class="title top-space reduce-font-size">

            <div class="div-request-type col-xs-12 col-md-2"></div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="http://localhost:4200/cita">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
                </a>
                <p>Citas</p>
            </div>

            <div class="div-request-type col-xs-12 col-md-4">
                <a href="/">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                </a>
                <p>Asesoramiento</p>
            </div>
            <div class="div-request-type col-xs-12 col-md-4">
                <a href="http://localhost:4200/tipoafiliado">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people_outline</mat-icon>
                </a>
                <p>Afiliaciones</p>
            </div>
            <div class="div-request-type col-xs-12 col-md-4">
                <a href="/">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">radio_button_checked</mat-icon>
                </a>
                <p>Taquilla Virtual</p>
            </div>
        </div>
    </div>
</mat-card>
